* {
   box-sizing: border-box;
}

:root {
   --p1: #FF510D;
   --p2: #FF9000;
   --s1: #00A0FF;
   --s2: #1B7AB3;
   --bl: #070504;
   --wt: #f2f2f2;
}

html {
   font-size: 10px;
   background-color: var(--bl);
}

h1 {
   font-family: 'Josefin Sans', sans-serif;
   font-weight: 600;
   font-size: 6rem;
   text-align: center;
   color: var(--p1);
}

h2 {
   font-family: 'Josefin Sans', sans-serif;
   font-weight: 600;
   font-size: 3.25rem;
   color: var(--wt);
   text-align: center;
}

h3 {
   font-family: 'Josefin Sans', sans-serif;
   font-weight: 600;
   font-size: 2.85rem !important;
   color: var(--bl);
   text-align: left;
   margin-bottom: 1rem;
}

p {
   color: var(--bl);
   font-family: 'Quicksand', sans-serif;
   font-size: 1.5rem;
   letter-spacing: 1px;
   margin-bottom: 1rem;
}

a {
   text-decoration: none;
   color: var(--p1);
}


/***************** HEADER *****************/
#logo {
   padding: 1rem;
}

.fa-thermometer-half {
   color: var(--wt);
}

#app {
   color: var(--p2);
   padding: 1.5rem
}

/***************** MAIN *****************/
#jumbotron {
   background: url(../images/main.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   height: auto;
}

#search {
   height: 30rem;
   padding: 5rem 2rem;
   display: grid;
   grid-template-rows: repeat(2, 1fr);
   grid-row-gap: 2rem;
   justify-items: center;
}

#search h2 {
   color: var(--p2);
   padding: 1.5rem;
   border-radius: 1rem;
}

#form-submit {
   width: 60%;
   display: grid;
   grid-template-columns: 70% 30%;
   justify-content: center;
   align-content: center;
   border-radius: 1rem;
   box-shadow: -2px -2px 8px var(--wt),
               2px 2px 8px var(--bl);
}

#search-city {
   font-family: 'Quicksand', sans-serif;
   font-weight: 600;
   font-size: 3rem;
   height: 9rem;
   width: 100%;
   padding: 2rem;
   background-color: var(--wt);
   border: none;
   border-top-left-radius: 1rem;
   border-bottom-left-radius: 1rem;
   opacity: 0.8;
}

#search-text::placeholder {
   color: var(--s2);
}

#search-button {
   font-family: 'Josefin Sans', sans-serif;
   font-weight: 600;
   font-size: 4rem;
   color: var(--wt);
   height: 9rem;
   border: none;
   background-color: var(--p2);
   border-top-right-radius: 1rem;
   border-bottom-right-radius: 1rem;
}

#search-button:hover {
   background-color: var(--s2);
   transition: ease-in-out 0.5s;
}

#search-button:active {
   background-color: var(--s1);
   transition: ease-in-out 0.15s;
}

input {
   width: 100%;
   height: 100%;
}

/***************** ALL-INFO *****************/
#all-info {
   padding-bottom: 5rem;
}

#forecast-5day {
   height: 25rem;
}

#prev-city{
   height: auto;
   display: grid;
   grid-template-rows: auto;
   grid-template-columns: repeat(auto-fit, minmax(38rem, 1fr));
   grid-gap: 2rem;
   margin-right: 2rem;
   margin-left: 2rem;
}

#prev-searches {
   background-color: rgba(219, 201, 197, 0.5);
   border-radius: 1rem;
   padding: 2rem;
   height: auto;
   display: grid;
   grid-template-rows: repeat(7, 3.5rem);
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 1rem;
}

#prev-searches input {
   font-family: 'Quicksand', sans-serif;
   font-size: 1.5rem;
   background-color: var(--p2);
   color: var(--bl);
   height: 100%;
   border-radius: 1rem;
   border: none;
   box-shadow: -2px -2px 8px var(--wt),
   2px 2px 8px var(--bl);
}

#prev-searches input:hover {
   background-color: var(--p1);
   color: var(--wt);
}

#prev-searches input:active {
   background-color: var(--s2);
   color: var(--wt);
}

#clear-button {
   font-family: 'Quicksand', sans-serif;
   font-size: 1.5rem;
   background-color: var(--p1);
   color: var(--wt);
   height: 100%;
   border-radius: 1rem;
   border: none;
   box-shadow: -2px -2px 8px var(--wt),
   2px 2px 8px var(--bl);
   grid-column-start: 1;   
   grid-column-end: span 2;
}

/***************** FORECAST 5 DAY *****************/
#forecast {
   background-color: rgba(219, 201, 197, 0.5);
   border-radius: 2rem;
   height: auto;
   margin: 2rem;
   padding: 2rem;   
}

.forecast-name {
   text-align: center;
   margin-bottom: 2rem;
}

#forecast-5days {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
   grid-gap: 2rem;
}

.day {
   height: auto;
   background-color: rgba(27, 122, 179, 0.75);
   display: grid;
   padding: 2rem;
   border-radius: 1rem;
   box-shadow: -2px -2px 8px var(--wt),
               2px 2px 8px var(--bl);
}

.day p {
   color: var(--wt);
}

.each-date {
   font-weight: 800;
}

.weather-icon {
   justify-self: center;
}

/***************** WEATHER *****************/
#current-weather {
   background-color: rgba(219, 201, 197, 0.5);
   border-radius: 2rem;
   padding: 2rem;
   height: auto;
   display: grid;
   grid-template-rows: auto auto;
   grid-template-columns: 70% 30%;
   grid-column-gap: 2rem;
   align-items: center;
}

#current-weather p {
   margin-bottom: 1rem;
   padding: 0.25rem 0;
}

#current-icon {
   grid-row: 1 / 1;
   grid-column: 2 / 3;
}

.uv-index-low {
   background-color: #97BF04;
   padding: 0.25rem 2rem;
   border-radius: 1rem;
}

.uv-index-medium {
   background-color: #FFCC00;
   padding: 0.25rem 2rem;
   border-radius: 1rem;
}

.uv-index-high {
   background-color: #F28705;
   padding: 0.25rem 2rem;
   border-radius: 1rem;
}

.uv-index-very-high {
   background-color: #BB1B0D;
   color: var(--wt);
   padding: 0.25rem 2rem;
   border-radius: 1rem;
}

.uv-index-extreme {
   background-color: #6D3271;
   color: var(--wt);
   padding: 0.25rem 2rem;
   border-radius: 1rem;
}


/***************** FOOTER *****************/
footer {
   width: 100%;
   height: auto;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   padding-top: 3rem;
}

footer p {
   color: var(--wt);
   text-align: center;
}


/***************** MEDIA QUERIES - SCREEN SIZES *****************/ 
@media (max-width: 768px) {
   #search {
      height: 40rem;
   }
   
   #form-submit {
      width: 90%;
         grid-template-columns: none;
         grid-template-rows: 9rem 9rem;
         grid-gap: 2rem;
         justify-items: center;
         box-shadow: none;

   }

   #search-city {
      text-align: center;
      width: 100%;
      border-radius: 1rem;
      box-shadow: -2px -2px 8px var(--wt),
                  2px 2px 8px var(--bl );
   }

   .form-control::placeholder {
      text-align: center;
      font-size: 2rem;
   }
   
   #search-button {
      width: 60%;
      border-radius: 1rem;
      box-shadow: -2px -2px 8px var(--wt),
                  2px 2px 8px var(--bl);
   }
}


@media (max-width: 576px) {
   #prev-city{
      grid-template-rows: repeat(2, auto) ;
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   }

   #current-weather {
   grid-template-rows: repeat(3, auto);
   grid-template-columns: none;
   }

   #current-icon {
      grid-area: unset;
      display: grid;
   }

   .current-weather-icon {
      justify-self: center;
   }
   
   footer {
      grid-template-columns: unset;
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 2rem;
      margin-bottom: 2rem;
   }

   footer p {
      color: var(--wt);
      text-align: center;
   }
}


/***************** FONTS *****************/
/* 
font-family: 'Josefin Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
*/
